# Ignorer tous les fichiers du dossier cache
cache/

# Ignorer tous les dossiers __pycache__ et leur contenu
**/__pycache__/

# Ignorer le fichier create_table.sql
create_table.sql

#ignorer le .ENV
.env

#ignorer les fichiers dans le dossier log
log/