/* Ajoutez vos styles personnalisés ici */
header {
    font-family: 'Arial', sans-serif;
    position: fixed; /* Le header reste fixé à l'écran */
    top: 0;          /* Positionné en haut de la fenêtre */
    left: 0;
    width: 100%;     /* S'étend sur toute la largeur de l'écran */
    z-index: 1000;   /* S'assure qu'il reste au-dessus des autres éléments */
    background-color: #fff; /* Ajoutez un fond pour éviter que le contenu passe en dessous */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Une légère ombre pour distinguer */
}

input:focus {
    border-color: #3b82f6; /* Couleur de mise au point bleue */
    box-shadow: 0 0 0 1px #3b82f6;
}

button:hover {
    transition: all 0.2s;
    transform: scale(1.05);
}

.flex-wrap > span {
    margin-bottom: 10px; /* Pour espacer les lignes de tags */
}

.search {
    display: flex;
    flex-direction: column;
}

/* Ajout pour que le contenu en dessous ne soit pas masqué par le header */
body {
    padding-top: 70px; /* Ajustez la valeur en fonction de la hauteur du header */
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

header {
    background-color: var(--background-color2) !important;
    color: var(--text-color) !important;
}

.bg-white {
    background-color: var(--background-color2) !important;
    color: var(--text-color) !important;
}

.bg-gray-200 {
    background-color: var(--bg-grey-200) !important;
    color: var(--text-color) !important;
}

.text-black {
    background-color: var(--background-color2) !important;
    color: var(--text-color) !important;
}

.text-gray-800 {
    color: var(--text-color) !important;
}
.border-gray-300 {
    background-color: var(--background-color3) !important;
    color: var(--text-color) !important;
}

.border-black {
    border-color: var(--text-color) !important;
}

svg {
    stroke: var(--text-color) !important;
}

:root {
    --background-color: white;
    --text-color: black;
    --background-color2: white;
    --background-color3: white;
    --bg-grey-200:#e5e7eb;
}

.dark-mode {
    --bg-black: black;
    --background-color: #181A1B;
    --background-color2: #383d3f;
    --bg-grey-200: #181A1B;
    --background-color3: #636464;
    --text-color: white;
}